Repository mongodb/genny, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mongodb/devprod-performance-infrastructure, james.littlejohn@mongodb.com, @mongodb/performance

.github/CODEOWNERS:

# DevProd Performance Infrastructure Team
# Operates through the DEVPROD Jira board.
# @mongodb/devprod-performance-infrastructure

# Product Performance Team
# Operates through the PERF Jira board.
# @mongodb/performance

# DevProd Performance Infrastructure owns unowned files. Files that are
# explicitly owned by Performance Infrastructure should be added to this file
# too.
*                 @mongodb/devprod-performance-infrastructure


# Repository Configuration
/.gitignore       @mongodb/devprod-performance-infrastructure james.littlejohn@mongodb.com
/.github          @mongodb/devprod-performance-infrastructure james.littlejohn@mongodb.com
/.vscode          @mongodb/devprod-performance-infrastructure james.littlejohn@mongodb.com

# Workload Configuration
/src/workloads    @mongodb/performance
/src/phases       @mongodb/performance

# Genny Core Components
/cmake            @mongodb/devprod-performance-infrastructure
/poetry.lock      @mongodb/devprod-performance-infrastructure
/pyproject.toml   @mongodb/devprod-performance-infrastructure

# Workload-related C++ Components
/src/value_generators    @mongodb/performance @mongodb/devprod-performance-infrastructure

Update docs
  docs/generated/workloads.md
Owners: @mongodb/devprod-performance-infrastructure

test script
  src/workloads/query/ExpressiveQueries.yml
Owners: @mongodb/performance

Parallelize dry-run
  src/lamplib/src/genny/curator.py
  src/lamplib/src/genny/tasks/dry_run.py
  src/lamplib/src/genny/tasks/genny_runner.py
Owners: @mongodb/devprod-performance-infrastructure

PERF-5176 Add workload reproducing an OOM due to a sort-skip multi-planning storm (#1129)
  docs/generated/workloads.md
  src/lamplib/src/genny/tasks/dry_run.py
  src/workloads/scale/MultiPlanStormSortSkip.yml
Owners: @mongodb/devprod-performance-infrastructure, @mongodb/performance

DEVPROD-988: Docs changes for Genny switch to Merge Queue. (#1183)
  .github/pull_request_template.md
  docs/developing.md
Owners: @mongodb/devprod-performance-infrastructure, james.littlejohn@mongodb.com

Covered projection workload
  src/workloads/query/SERVER-88445.yml
Owners: @mongodb/performance

TPCH restructure
  docs/generated/workloads.md
Owners: @mongodb/devprod-performance-infrastructure

reformat streams adn startup
  docs/generated/workloads.md
Owners: @mongodb/devprod-performance-infrastructure

typo
  docs/generated/workloads.md
Owners: @mongodb/devprod-performance-infrastructure

typo
  docs/generated/workloads.md
Owners: @mongodb/devprod-performance-infrastructure

reorganize TPCH more
  docs/generated/workloads.md
Owners: @mongodb/devprod-performance-infrastructure

changes
  src/gennylib/src/encryption.cpp
  src/workloads/contrib/qe_range_testing/experiment_generator.py
  src/workloads/contrib/qe_range_testing/templates/rc.yml.j2
  src/workloads/docs/CrudActorEncrypted.yml
Owners: @mongodb/devprod-performance-infrastructure, @mongodb/performance

fix
  src/test-exp2-workload.yml
Owners: @mongodb/devprod-performance-infrastructure

just dob
  src/workloads/query/ExpressiveQueries.yml
Owners: @mongodb/performance

only dob index
  src/workloads/query/ExpressiveQueries.yml
Owners: @mongodb/performance
